################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/MoE.ERS/.vs
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/obj/
*/**/bin
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.Internal.Mvc/logs/20170511-00001.log
*.log
*.cache
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.Internal.Mvc/logs
/$tf
/$tf
/Main/MoE.ERS/Main/Applications/Data/MoE.ERS.Repositories.EFCore/MoE.ERS.Repositories.EFCore.csproj - Copy.user
/Main/MoE.ERS/Main/Applications/Data/MoE.ERS.Repositories.EFCore/MoE.ERS.Repositories.EFCore.csproj - Copy.user
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.OPAConnectorService/bin
/Main/MoE.ERS.DevOps/MoE.ERS.DevOps/.vs
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.External.Mvc/wwwroot/lib/jquery
/Main/MoE.ERS/Main/Tests/MoE.ERS.Tests.Automation.Utils/TestReports/8_9_2017_5_53_23_PM.html
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Release/TestDataAutomated.bat
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Reports/TestReport.html
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateTeacherSearchResultsWithInvalidTeacher.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateTeacherResultsAfterFTSelection.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateOrgSearchResultsWithInvalidOrg.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTSearchResultsWithValidFT.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTSearchResultsWithInvalidFT.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTResultsWithValidOrgTypeAndValidAuth.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTResultsWithValidOrgTypeAndInvalidAuth.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTResultsWithInvalidOrgTypeAndValidAuth.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateFTResultsWithInvalidAuthAndInvalidOrgType.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateCreateRequestButtonAccessibility.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateCRButtonAccessWithAllFields.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/CreateRequest.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateViewAllRequestsFunctionality.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateTeacherSearchResultsWithValidTeacher.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateOrgSearchResultsWithValidOrg.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateDefaultValueForSingleTeacher.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateDefaultValueForSingleFT.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateCreateRequestButtonFunctionality.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateCRButtonAccessWithOrgAndFT.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateAuthorizedOrgsForUser.png
/Main/MoE.ERS/packages
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateHorizontalScrollBar.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateApproverCannotCreateARequest.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation/Screenshots/ValidateSearchTextVisiblityForSession.png
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/~$TestData.xlsx
/Main/MoE.ERS/SolutionItems/Tools/RTSickScheduler/.gitignore
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/App_Start
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Content
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Controllers
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/fonts
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Properties
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Scripts
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Views/Home
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Views/Shared
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp/Views
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.NetAggregationServiceTemp
/Main/MoE.ERS.Tests.Automation/.vs/MoE.ERS.Tests.Automation/v15/Server/sqlite3
/Main/MoE.ERS.Tests.Automation/.vs/MoE.ERS.Tests.Automation/v15/sqlite3/db.lock
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.TestRunner/ReviewRequest.csv
/Main/MoE.ERS/SolutionItems/Tools/DBMigration/Scripts/Migrations - Copy
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.Shared.Mvc/Converters
*.bat
/Main/MoE.ERS.Tests.Automation.zip
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/Welcome.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/SupportDocument.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/Smoke.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/RTOverviewForm.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/ReviewRequest.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/ReportConfiguration.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/PlayGroupOperatioal.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/LogInConfiguration.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/FindFormRT.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/Dashboard.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/BrowserStackConfiguration.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/VMShared/AbsenceFormRT.csv
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/New folder
/Main/MoE.ERS.Tests.Automation/MoE.ERS.Tests.Automation.DataSource/TestData/New folder
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.AggregationService/Properties/PublishProfiles
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.ManagementService/Properties/PublishProfiles
/Main/MoE.ERS/Main/Applications/Services/MoE.ERS.OPAConnectorService/Properties/PublishProfiles
/Main/MoE.ERS/SolutionItems/Tools/Functions/FusionInvoiceScheduler/Properties/PublishProfiles
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.Internal.Mvc/Properties/PublishProfiles
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.Internal.Mvc/Properties/PublishProfiles
/Main/MoE.ERS/Main/Applications/UI/MoE.ERS.Web.External.Mvc/MoE.ERS.Web.External.Mvc.csproj.user
/POC's/ESAA.zip
/Main/MoE.ERS/SolutionItems/Tools/AvailabilityTests/IntegrationTests/.vs

